# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/ui/node_modules/
/ui/package-lock.json
/ui/yarn.lock

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/ui/.pnp.js

# testing
/ui/coverage

# production
/ui/build

# misc
/ui/.DS_Store
/ui/.env.local
/ui/.env.development.local
/ui/.env.test.local
/ui/.env.production.local

/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*
/ui/.vercel
/ui/package-lock.json
/ui/yarn.lock
/ui/uploads/*

.DS_Store
.DS_Store
