@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0.001s !important;
  }
}

.container {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@keyframes background-move {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 100vw 0, 0 0;
    background-position: max(100vw, 40em) 0, 0 0;
  }
}
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: -1em;
}

.input-group__input {
  color: #fff;
  font-size: x-large;
  line-height: 0.2;
  border: 1px solid #fff;
  outline: none;
  height: auto;
  min-height: calc(1em + 0.5em); /* Set a minimum height */
  width: 100%;
  padding: 0.8em 1.2em;
  background-color: transparent;
  /* background-origin: border-box; */
  /* background-clip: padding-box, border-box; */
  border-radius: 4em;
  background-size: 200% 100%;
  transition: background-position 0.8s ease-out;
}
.input-group__input:hover {
  background-position: 100% 0;
}
.input-group__input:focus {
  /* outline: 2px dashed #ad2b89; */
  outline-offset: 0.1em;
}

.dashboard-content {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding: 25px;
}
.content {
  margin-top: -1.5em;
}

@media (max-width: 768px) {
  .dashboard-content {
    padding: 15px 0px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    /* max-width: 760px; */
    max-width: 85%;
  }
}

.col {
  padding: 20px;
  border: 1px solid black;
  margin: 40px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  /* overflow: hidden; */
  border-radius: 20px 15px 20px 10px;
}

.search-button {
  background-color: #959494;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 40%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
}
h2 {
  color: #fff;
  /* background: linear-gradient(
    90deg,
    hsla(254, 68%, 9%, 1) 0%,
    hsla(269, 97%, 37%, 1) 33%,
    hsla(320, 77%, 55%, 1) 66%,
    hsla(316, 41%, 93%, 1) 100%
  );

  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent; */
}
