body {
  overflow-y: hidden;
}

/* .container {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
} */

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(29, 29, 29, 0.823);
  width: 700px;
  height: 400px;
  background-color: transparent;
  padding: 10px 30px 40px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card h4 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: rgb(45, 182, 212);
}

.card h4,
i {
  color: rgb(45, 182, 212);
}
header h4 {
  color: rgb(45, 182, 212);
}
h3,
label {
  color: white !important;
}

.drop_box_fileUpload {
  margin: 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #121111;
  border-radius: 5px;
}
.drop_box_fileUpload label {
  color: #fff;
  width: max-content !important;
  margin-right: 10px;
}

.drop_box_fileUpload h2 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}
.drop_box_fileUpload h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box_fileUpload p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #170a0a;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover {
  text-decoration: none;
  color: rgb(45, 182, 212);
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}

/* for modal and progress bar styling */
/* Modal container */

.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  /* background-color: transparent; */
  background-color: rgb(45, 182, 212);
  border: 1px solid #fff;
  font-size: 1.3em;
  color: black;
  position: fixed !important;
  bottom: 0;
  right: 0;
  position: relative;
  max-width: 600px;
  width: 100%;
}
.modal-content > h3 {
  border-bottom: 1px solid #b3b3b3;
  font-size: 24px;
  font-weight: 400;
  color: #000 !important;
  /* color: rgb(45, 182, 212) !important; */
  margin: 0;
  border-radius: 5px;
  padding: 0.8em 56px 0.8em 27px;
}

/* Close button */
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgb(45, 182, 212);
  background-color: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.close:hover {
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: 1px solid #000;
}

/* Button */
.btn {
  /* background-color: #007bff; */
  background-color: rgb(45, 182, 212);
  color: black;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Button hover effect */
.btn:hover {
  background-color: transparent;
  color: rgb(45, 182, 212);
  border: 1px solid white;
}

/* Card styling */
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Text styling */
.text {
  margin-bottom: 20px;
}

/* Icon styling */
.fa-solid {
  margin-left: 5px;
}
#checkGreen {
  color: rgb(45, 182, 212);
}

.knowledge h2 {
  position: absolute;
  top: 5%;
  width: 60%;
  left: 50%;
  margin-left: -15%;
  z-index: 4;
}

.alert {
  z-index: 99;
}

#fileUploadFieldset {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 5em 2em 0 0;
  min-width: 600px;
  min-height: 250px;
  text-align: center;
  height: 50%;
}
.fieldset-container-fileUpload {
  margin-top: -7em;
  margin-left: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
}
.fieldset-container div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(45, 182, 212);
  padding: 5px 10px;
  margin-bottom: 10px;
}
hr.configuration_form {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #a8a6a6;
  color: #d7d5d5;
  text-align: center;
  margin: -1em;
}

hr.configuration_form:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.9em;
  font-size: 1.5em;
  padding: 0 0.25em;
}

/* Button Style */

.btn-grad {
  text-decoration: none;
  background-color: rgb(45, 182, 212);
  border: none;
  outline: none;
  transition: 0.3s;
  margin: 10px;
  padding: 2px 15px;
  text-align: center;
  transition: 0.5s;
  color: transparent;
  display: block;
}

.btn-grad:hover {
  text-decoration: none;
  background-color: transparent;
  color: rgb(45, 182, 212);
  padding: 10px 20px;
  border: 1px solid #010101;
}
/* .progress-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
} */

/* .progress-bar {
  height: 25px;
  background-color: #4caf50;
  text-align: center;
  line-height: 25px;
  color: white;
} */
