.agent-fieldset-container {
  position: fixed;
  width: 85%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#configAgents {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 95%;
  max-width: 95%;
  max-height: 82vh;
  height: 90vh;
  text-align: left;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
}

#agentListLengend {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  color: rgb(45, 182, 212);
  background-color: transparent;
  margin-bottom: 10px;
  padding: 1px;
  margin-bottom: 0;
}

.agent-table-container {
  display: flex;
  flex-direction: column;
}
.row-container {
  height: 60vh;
  overflow-y: auto;
}
.grid-header,
.grid-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr 2fr 1fr;
  width: 100%;
  color: #fff;
}

.grid-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-header .grid-cell {
  font-weight: bolder;
  font-size: 1.1em;
  cursor: pointer;
}

.grid-header .sortable:hover {
  background-color: transparent;
  color: rgb(45, 182, 212);
}

#pagination {
  margin-top: 5px;
  margin-left: -2em;
  font-size: 0.9em;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-title {
  color: black;
}

.modal-dialog {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  max-width: 500px;
  width: 100%;
}

.modal-header,
.modal-footer {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header {
  background: none;
  font-size: 1.2em;
}
/* .modal-content {
  background-color: #fdfcf3;
  border: 1px solid #fff;
  font-size: 1.3em;
  color: black;
  position: fixed !important;
  bottom: 0;
  right: 0;
  position: relative;
  max-width: 600px;
  width: 100%;
} */

.close {
  border: none;
  color: rgb(45, 182, 212);
}

.modal-body {
  padding: 15px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: none;
}

.modal-footer .btn {
  margin-left: 10px;
  margin-top: -5%;
}
#configYes {
  background-color: rgb(45, 182, 212);
  color: black;
  border-color: black;
}
#configNo {
  background-color: rgb(172, 170, 170);
  border-color: black;
  color: black;
}

#configYes:hover {
  background-color: transparent;
  border-color: black;
  color: black;
}
#configNo:hover {
  background-color: transparent;
  border-color: black;
  color: black;
}

#checkGreen {
  color: rgb(45, 182, 212);
}

.form-check-input:checked {
  background-color: rgb(45, 182, 212);
  border-color: rgb(45, 182, 212);
}

.grid-row .grid-cell:nth-child(1) {
  cursor: pointer;
  color: rgb(45, 182, 212);
  font-weight: bold;
}
