.knowledge-fieldset-container {
  position: fixed;
  width: 87%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#knowledgeFieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 95%;
  max-width: 95%;
  max-height: 82vh;
  height: auto;
  text-align: left;
  box-sizing: border-box;
  position: relative;
}

#knowledgeEnhancement {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  color: rgb(45, 182, 212);
  background-color: transparent;
  margin-bottom: 10px;
  padding: 1px;
  margin-bottom: 0;
}

.knowledge-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 72vh;
}
.knowledge-row-container {
  height: calc(98vh - 300px);
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: auto; /* Internet Explorer 10+ */
  max-height: calc(100vh - 200px); /* Adjust based on your layout */
  overflow-y: auto;
}

@media (max-width: 768px) {
  .knowledge-row-container {
    max-height: calc(100vh - 150px); /* For tablets */
  }
}

@media (max-width: 480px) {
  .knowledge-row-container {
    max-height: calc(100vh - 120px); /* For mobile devices */
  }
}

/* For Webkit-based browsers (Chrome, Safari, etc.) */
.knowledge-row-container::-webkit-scrollbar {
  width: 12px;
}
.knowledge-row-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.knowledge-grid-header,
.knowledge-grid-row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2.3fr 2.3fr 2.3fr;
  width: 100%;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: left;
}

.knowledge-grid-cell {
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
}

.knowledge-grid-header .knowledge-grid-cell {
  display: flex;
  font-weight: bolder;
  font-size: 1.1em;
  cursor: pointer;
  text-align: left; /* Ensure header text is left-aligned */
  justify-content: flex-start;
}

.knowledge-grid-header .sortable:hover {
  background-color: transparent;
  color: rgb(45, 182, 212);
}

#pagination {
  margin-top: 5px;
  font-size: 0.9em;
  color: #fff;
  text-align: center;
}
.knowledge-grid-cell {
  padding: 10px; /* Default padding for all grid cells */
  border-bottom: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
}
.knowledge-grid-row .knowledge-grid-cell:nth-child(1),
.knowledge-grid-row .knowledge-grid-cell:nth-child(3) {
  cursor: pointer;
}
.knowledge-grid-row .knowledge-grid-cell:nth-child(5),
.knowledge-grid-row .knowledge-grid-cell:nth-child(6) {
  text-align: center;
}
.knowledge-grid-row .knowledge-grid-cell:nth-child(1) {
  color: rgb(45, 182, 212);
  font-weight: bold;
  text-align: center;
}

.queryPopover {
  position: absolute;
  background-color: rgb(45, 182, 212);
  color: black;
  font-family: "Montserrat";
  font-weight: normal;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 700px;
  word-wrap: break-word;
  white-space: normal;
}
.knowledge-grid-row {
  position: relative;
}
