.addAgent-fieldset-container {
  width: 110%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
#fieldsetAddAgent {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 95%;
  max-width: 95%;
  max-height: 82vh;
  height: auto;
  text-align: left;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
}

#agentLegend {
  /* margin-top: -0.5em; */
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  color: rgb(45, 182, 212);
  background-color: transparent;
  padding: 1px;
  margin-bottom: 0;
}

.agent-details-new {
  display: flex;
  flex-direction: column;
}

.agent-input-row {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  color: white;
}
.agent-input-row label {
  color: #fff;
  width: 140px;
  margin-right: 10px;
  text-align: left;
}
.agent-input-row input[type="text"],
.agent-input-row textarea,
.agent-input-row select {
  width: 250px;
  box-sizing: border-box;
  transition: 0.5s ease-in;
  background-color: transparent;
  border: 1px solid #ccc;
  color: white;
}
hr {
  overflow: visible;
  color: #d7d5d5;
  padding: 0;
}
.alert-danger,
.alert-success {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30%;
  z-index: 1050;
}

#model,
#flow,
#template,
#description,
#name {
  width: 250px;
  padding: 5px;
  box-sizing: border-box;
  transition: 0.5s ease-in;
  background-color: transparent;
  border: 1px solid #ccc;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}
#model option,
#flow option,
#template {
  background-color: transparent;
  border: 2px solid #ccc;
  color: white;
}

#template {
  height: 13em;
  width: 90%;
}
#description {
  height: 5.2em;
  width: 92%;
}
.button-container {
  display: flex;
  justify-content: center;
}

.btn-grad {
  text-decoration: none;
  background-color: rgb(45, 182, 212);
  color: black;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
  margin: -0.2em;
  padding: 2px 15px;
  text-align: center;
  display: inline-block;
}
.btn-grad:hover {
  text-decoration: none;
  color: rgb(45, 182, 212);
  padding: 2px 15px;
  border: 1px solid white;
}
.error {
  font-size: small;
  color: #bb2124;
  margin-left: -19em;
}

@media (max-width: 768px) {
  .addAgent-fieldset-container {
    justify-content: center;
  }

  #fieldsetAddAgent {
    width: 90%;
    padding: 15px;
  }
  .agent-input-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .agent-input-row label {
    width: 100%;
    margin-bottom: 5px;
  }

  .agent-input-row input[type="text"],
  .agent-input-row textarea,
  .agent-input-row select {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #fieldsetAddAgent {
    width: 95%;
    padding: 10px;
  }

  .agent-input-row label {
    width: 100px;
    margin-bottom: 5px;
  }

  .agent-input-row input[type="text"],
  .agent-input-row textarea,
  .agent-input-row select {
    width: 100%;
  }
}
