.knowledge-fieldset-container {
  width: 110%;
  padding: 20px;
  box-sizing: border-box;
}

#knowledgeFieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: transparent;
  height: 75vh;
}

#knowledgeEnhancement {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  color: rgb(45, 182, 212);
  background-color: transparent;
  margin-bottom: 10px;
  padding: 1px;
  margin-bottom: 0;
}

.knowledge-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.knowledge-row-container {
  height: 50vh;
  overflow-y: auto;
  width: 100%;
}
.knowledge-grid-header,
.knowledge-grid-row {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr 2.5fr 2fr 2fr;
  width: 100%;
  color: #fff;
}

.grid-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.knowledge-grid-header .grid-cell {
  font-weight: bolder;
  font-size: 1.1em;
  cursor: pointer;
}

.knowledge-grid-header .sortable:hover {
  background-color: transparent;
  color: rgb(45, 182, 212);
}

#pagination {
  margin-top: 5px;
  font-size: 0.9em;
  color: #fff;
  text-align: center;
}

.grid-cell:nth-child(1) {
  cursor: pointer;
}
.knowledge-grid-row .grid-cell:nth-child(1) {
  color: rgb(45, 182, 212);
  font-weight: bold;
  text-align: center;
}

/**
 * 
 * Represents the CSS class for the "status-ingested" element.
 */
.status-ingested {
  color: rgb(8, 173, 8);
  font-weight: bold;
}

.status-responded {
  color: orange;
  font-weight: bold;
}

.status-inquired {
  color: red;
  font-weight: bold;
}

.status-default {
  color: white;
}

.queryPopover {
  position: absolute;
  background-color: rgb(45, 182, 212);
  color: black;
  font-family: "Montserrat";
  font-weight: normal;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* z-index: 10; */
  max-width: 700px;
  word-wrap: break-word;
  white-space: normal;
}
.knowledge-grid-row {
  position: relative;
}
