.hearty-container-fluid {
  position: fixed;
  height: 100vh;
  width: 80%;
  margin-left: -4em;
  align-items: center;
  justify-content: center;
}

.dashboard-content {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding: 25px;
}
.ask-hearty-header {
  position: fixed;
  top: 3.5em;
  left: 39%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 10;
}
.ask-hearty-header img {
  margin-left: -0.3em;
  border-radius: 50%;
}
.content {
  margin-top: 3em;
}

.col {
  padding: 20px;
  border: 1px solid black;
  margin: 40px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 20px 15px 20px 10px;
}

h2 {
  color: #2db6d4;
  margin-top: 0.7em;
}
h5 b {
  color: #fff;
}
.spinner-border {
  color: #2db6d4;
}
.loading-text {
  color: #fff;
}

/* New Style for TextArea */

.chatbox-textbox {
  position: relative;
  display: block;
  width: calc(100% - 40px);
  max-width: 90%;
  margin: 0 auto;
  margin-top: -1em;
}

.chatbox-textbox textarea {
  width: 100%;
  padding: 10px 40px 10px 10px;
  background-color: transparent;
  color: #fff;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  overflow: auto;
  min-height: 50px;
  max-height: 150px;
}

.chatbox-textbox .submit-btn {
  position: absolute;
  top: 43%;
  right: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgb(45, 182, 212);
  color: black;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}
.chatbox-textbox .submit-btn[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.chatbox-textbox .submit-btn:hover {
  background-color: transparent;
  color: rgb(45, 182, 212);
  border: 1px solid white;
}

.hover-disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.spinner-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background-color: rgba(45, 182, 212, 0.8);
  z-index: 10;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spinner-overlay .loading-text {
  color: #000;
}
.spinner-border {
  color: #000;
}

.ask-hearty-agent-input-row {
  position: absolute;
  top: 30px;
  right: -10em;
  z-index: 10;
  width: 235px;
}
.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
  margin-top: -3px;
  font-weight: 400;
}
.custom-select select {
  display: none;
}

.custom-select::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #3cc9e2;
}
.custom-select select {
  width: 100%;
  height: 35px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.custom-select .select-selected {
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #3cc9e2;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.custom-select .select-selected:hover {
  background-color: #3cc9e2;
  color: black;
  border-radius: 50px;
}

.custom-select .select-items {
  position: absolute;
  background-color: #2db6d4;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-select .select-items div {
  color: black;
  padding: 10px;
  cursor: pointer;
}

.custom-select .select-items div:hover {
  background-color: #3cc9e2;
  color: black;
}

.ask-hearty-agent-input-row select::-ms-expand {
  display: none;
}

.conversation-container {
  margin-top: -4em;
  padding: 0;
  width: 105%;
  position: relative;
  margin-left: -1.2em;
}

@media (max-width: 768px) {
  .dashboard-content {
    padding: 15px 0px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 85%;
  }
}
