.container-header {
  position: relative;
  width: 150px; /* Adjust the width and height of the circle */
  height: 150px;
  border-radius: 50%; /* Make it a circle */
  background-color: #342b47; /* Background color of the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Place the circle in the foreground */
}

.text-s {
  font-size: 70px; /* Adjust the font size */
  position: absolute;
  z-index: 0; /* Place "S" in the background */
  background: linear-gradient(
    90deg,
    rgba(126, 106, 190, 1) 0%,
    rgba(53, 188, 146, 1) 100%
  );
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Hide the original text */
}

.text-i {
  font-size: 90px; /* Adjust the font size */
  position: relative; /* Ensure "I" is in the foreground */
  z-index: 2; /* Place "I" in the foreground */
  background: linear-gradient(
    90deg,
    rgba(126, 106, 190, 1) 0%,
    rgba(53, 188, 146, 1) 100%
  );
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Hide the original text */
}

.header-container {
  display: flex;

  align-items: right;
  margin-left: 170px;
  margin-top: -6em;
  /* margin-top: 10px; Adjust margin top for header */
}

.header {
  font-size: 24px; /* Adjust font size of header text */
  /* margin-right: 20px; Adjust margin between header and paragraph */
}

.content {
  margin-top: 20px; /* Adjust margin top for content */
  font-size: 16px; /* Adjust font size of paragraph */
}
.vertical-line {
  transform: rotate(90deg);
  width: 150px; /* Adjust width as needed */
  margin-left: 5em;
  margin-top: -5em;
}
.header h1 {
  background: linear-gradient(
    90deg,
    rgba(126, 106, 190, 1) 0%,
    rgba(53, 188, 146, 1) 100%
  );
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Hide the original text color */
  padding: 250px;
}
